.contactLink {
  display: block;
  align-self: center;
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 .6rem;
  margin-bottom: 2rem;
  border: 0 solid #000;
  background-color: hsl(0,0%,100%);
  color: #000;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: underline;
  transition:
    border .2s,
    line-height .2s;
}

.contactLink:hover {
  line-height: 1.9rem;
  border-width: .2rem;
}
