.mailForm,
.mailForm__close {
  opacity: 1;
  transition:
    top .2s,
    opacity .2s;
}

.mailForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: .5rem 1rem 1rem 1rem;
  background-color: #fff;
  border: .6rem solid #000;
  transition:
    background-color .2s,
    top .2s,
    opacity .2s;
}

.mailForm--loading {
  background-color: hsl(0,0%,60%);
}

.mailForm--hidden {
  opacity: 0;
  top: -100vh;
}

.mailForm__title {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  height: 2rem;
  line-height: 2rem;
}

.mailForm__address {
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
}

.mailForm__send {
  padding: 0;
  width: 5rem;
  height: 3rem;
  margin-top: 1rem;
  border: 0 solid #000;
  line-height: 2.8rem;
  font-size: 1.5rem;
  text-decoration: underline;
  transition:
    border .2s,
    line-height .2s,
    color .2s;
}

.mailForm__send:focus,
.mailForm__send:hover {
  border-width: .2rem;
  line-height: 2.6rem;
}

form [class$="--invalid"] {
  border-color: hsl(0,50%,69%);
  border-width: .2rem;
}

[class$="--invalid"] ~ .mailForm__send {
  color: hsl(0,0%,60%);
  border-color: hsl(0,0%,60%);
}

@media (min-width: 600px) {

  .mailForm__title {
    font-size: 3rem;
    height: 4rem;
    line-height: 4rem;
  }

  .mailForm__address {
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
  }

  .mailForm__text {
    font-size: 1.5rem;
    line-height: 2rem;
    height: 20rem;
  }

  .mailForm {
    padding: 1.5rem 2rem 2rem 2rem;
    box-shadow: 0 0 .8rem #000;
  }

  .mailForm__close {
    top: 1rem;
    right: 1rem;
  }

  .mailForm__send {
    height: 3.5rem;
    width: 6rem;
    line-height: 3.1rem;
    font-size: 2rem;
  }

  .mailForm__send:focus,
  .mailForm__send:hover {
    border-width: .2rem;
    line-height: 2.9rem;
  }

}
