.message {
  position: absolute;
  top: 50%;
  margin-top: -4rem;
  left: 50%;
  margin-left: -40vw;
  width: 80vw;
  background-color: #fff;
  border: .3rem solid #000;
  box-shadow: 0 0 .8rem -.4rem #000;
  padding: 0 1rem;
}