*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  max-width: 100vh;
}

input,
textarea {
  display: block;
  float: left;
  width: 100%;
  font: inherit;
  border: none;
  outline: none;
  padding: 0 .5rem;
  margin: .25rem 0;
  line-height: 1.5rem;
  transition: box-shadow .2s;
}

input {
  line-height: 2rem;
}

input[type=submit] {
  padding: 0;
  width: 6rem;
  height: 2.2rem;
  border: 0 solid #000;
  line-height: 2rem;
  background-color: transparent;
  text-decoration: underline;
  transition:
    border .2s,
    line-height .2s;
}

input[type=submit]:focus,
input[type=submit]:hover {
  border-width: .2rem;
  line-height: 1.8rem;
}

input[type=text] {
  border-bottom: 0 solid #000;
  transition:
    border-bottom .2s,
    line-height.2s;
}

input[type=text]:focus {
  border-width: .2rem;
}

textarea {
  resize: none;
  margin: .75rem 0;
  padding: .4rem;
  min-height: 12rem;
  transition: border .2s;
  border: 0 solid #000;
}

textarea:focus {
  border-width: .2rem;
}

.logo {
  width: calc(100vw - 4rem);
  max-width: calc(100vh - 2rem);
  max-height: calc(100vh - 2rem);
}

.mailForm,
.mailForm__close {
  opacity: 1;
  top: 0;
  transition:
    top .2s,
    opacity .2s;
}

.mailForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  top: 5vw;
  left: 5vw;
  width: 90vw;
  padding: 1.5rem 2rem 2rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 .2rem #000;
  border: .4rem solid #000;
}

.mailForm__close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,100%,.4);
}

.mailForm--hidden,
.mailForm--hidden__close {
  opacity: 0;
  top: -100vh;
}

.mailForm__title {
  font-size: 3rem;
  height: 4rem;
  line-height: 4rem;
}

.mailForm__address {
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}

.contactLink {
  display: block;
  align-self: center;
  padding: .6rem .6rem;
  margin-bottom: 2rem;
  border: 0 solid #000;
  background-color: hsl(0,0%,100%);
  color: #000;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: underline;
  transition:
    border .2s,
    padding .2s;
}

.contactLink:hover {
  padding: .4rem .6rem;
  border-width: .2rem;
}
