<head>
  <title>Halunka</title>
</head>
<body>
  <div class="container">
    <header class="navbar navbar-default">
      <nav>
        <ul>
          <li><a href="#"><img src="./halunka_logo.svg" alt="halunka logo" id="logo"/></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="landingText">
        <p>Halunka is a creative collective and studio founded by Colin Schmid. We craft beautiful things that work. Our expertise lies in creating for web, design, print and film.</p>
      </section>
    </main>
  </div>
</body>


