%main
  %h2
    About

  %p
    Colin Schmid &#x2013; Digital Boh&#xE8;mian/<wbr>Craftsman, Graphic Designer, Print&shy;maker <wbr>and <wbr>Web Designer/<wbr>Developer (Ruby, JS, Node.js, yes - I'm a unicorn), Photographer and Videographer
