!!!
%html
  %head
    %script{:src => "//use.typekit.net/omu8ach.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    %title
      halunka -
      = title
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/main.css"}
    %meta{:name => :viewport, :content => "width=device-width, initial-scale=1"}
 
  %body
    = haml :nav
    = yield
  %script{:src => "/js/interface.js"}
