%header
  %nav{:class => "main-nav"}
    %a{:class => "main-nav__show", :href => "#"}
      Menu

    %ul{:class => "main-nav__list"}
      %a{:class => "main-nav__hide", :href => "#"}
      %h2
        Menu

  %h1
    halunka
