%header
  %nav{:class => "main-nav"}
    %a{:class => "main-nav__show", :href => "#"}

    %ul{:class => "main-nav__list"}
      %a{:class => "main-nav__hide", :href => "#"}
      %h2
        Menu
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/contact"}
          about
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/contact"}
          contact

  %h1{:class => "logo"}
