%header
  %nav{:class => "main-nav"}
    %a{:id => "main-nav__show", :class => "main-nav__show", :href => "#"}

    %ul{:class => "main-nav__list"}
      %a{:class => "main-nav__hide", :href => "#"}
      %h2
        Menu
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/about"}
          about
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/contact"}
          contact

  %a{:id => "logo", :class => "logo", :href => "/"}
