%header
  %nav{:id => "desktop"}
    %ul
      %li{:class => "main-nav-desktop"}
        %a{:class => "nav-desktop"}
          home
      %li{:class => "main-nav-desktop"}
        %a{:class => "nav-desktop"}
          work
      %li{:class => "main-nav-desktop"}
        %a{:class => "nav-desktop"}
          about
      %li{:class => "main-nav-desktop"}
        %a{:class => "nav-desktop"}
          contact

  %nav{:class => "main-nav", :id => "mobile"}
    %a{:id => "main-nav__show", :class => "main-nav__show", :href => "#"}

    %ul{:class => "main-nav__list"}
      %a{:class => "main-nav__hide", :href => "#"}
      %h2
        Menu
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/about"}
          about
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/contact"}
          contact

  %a{:id => "logo", :class => "logo", :href => "/"}
